@if (icon() === 'close') {
<svg xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 -960 960 960" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
</svg>
}
@if (icon() === 'add') {
<svg xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 -960 960 960" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
</svg>
}
@if (icon() === 'minus') {
<svg #icon xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 -960 960 960" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path d="M240-440v-80h480v80H240Z" />
</svg>
}
@if (icon() === 'delete') {
<svg xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 0 24 24" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path d="M0 0h24v24H0z" fill="none" />
  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
</svg>
}
@if (icon() === 'edit') {
<svg xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 -960 960 960" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path
    d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
</svg>
}
@if (icon() === 'arrow-down') {
<svg xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 -960 960 960" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path d="M480-240 240-480l56-56 144 144v-368h80v368l144-144 56 56-240 240Z" />
</svg>
}
@if (icon() === 'arrow-up') {
<svg xmlns="http://www.w3.org/2000/svg" [attr.height]="sizePx()" viewBox="0 -960 960 960" [attr.width]="sizePx()"
  [attr.fill]="color()">
  <path d="M440-240v-368L296-464l-56-56 240-240 240 240-56 56-144-144v368h-80Z" />
</svg>
}