<header class="bg-dark-blue text-white py-4 px-5 flex justify-between items-center shadow-sm">
  <h2 class="text-2xl">Manage <span class="font-bold">Employees</span></h2>

  <div class="flex items-center gap-4">
    <app-button class="inline-block bg-error hover:bg-dark-error" text="Delete">
      <span icon class="p-0.5 rounded-full bg-white">
        <app-icon icon="minus" color="#dc3545" size="18" />
      </span>
    </app-button>
    <app-button class="inline-block bg-success hover:bg-dark-success" text="Add New Employee">
      <span icon class="p-0.5 rounded-full bg-white">
        <app-icon icon="add" color="#218838" size="18" />
      </span>
    </app-button>
  </div>
</header>