@import "tailwindcss";

@theme {
  --color-dark-blue: #435d7d;
  --color-error: #dc3545;
  --color-dark-error: #c82333;
  --color-success: #218838;
  --color-dark-success: #1e7e34;
  --color-warning: #ffc720;
  --color-muted: #f5f5f5;
}

@layer components {
  .btn {
    @apply py-2 px-4 transition-shadow cursor-pointer not-disabled:hover:shadow-lg;
  }
}
